/* MAIN */
body, html {
    padding: 0px;
    margin: 0px;
}

/* NAVIGATION */
header {
    background-color: black;
    height: 55px;
    color: white;
}

nav *{
    float: left;
    width: 10%;
    color: white;
    display: block;
}

nav ul {
    width: 50%;
}

nav form select {
    width: 100%;
}

nav a {
    text-decoration: none;
}

/* MAIN SECTION */

main > section {
    width: 49.5%;
    height: 500px;
    float: left;
    margin-left: 5px;
}

  /* MAIN SUB SECTION */
main section + section section {
    width: 49%;
    height: 196px;
    float: left;
    margin-left: 5px;
}

.article {
    margin-bottom: 7px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: left;
    color: white;
  }
  
  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    letter-spacing: 1px;
  }


.bottom-left h1, h3 {
    margin-bottom: 45px;
    text-align: left;
  } 
  

/* NEWS SECTION */

section h2, main h2, h4 {
    margin-left: 10px;
    margin-bottom: 20px;
    margin-top: 30px;
}
main + section > section {
    width: 32%;
    float: left;
    margin-left: 10px;
}

.news {
    width: 100%;
}

.trump {
    margin-right: 10px;
}