/* MAIN */
body, html {
    padding: 0px;
    margin: 0px;
}

/* NAVIGATION */
header {
    background-color: black;
    height: 55px;
    colorr: white;
}

nav *{
    float: left;
    width: 10%;
    color: white;
    display: block;
}

nav ul {
    width: 50%;
}

nav form select {
    width: 100%;
}

/* MAIN SECTION */

main > section {
    width: 50%;
    height: 500px;
    float: left;
}

  /* MAIN SUB SECTION */
main section + section section {
    width: 47%;
    height: 250px;
    float: left;
    margin: 10px;
}

/* Container holding the image and the text */
.container {
    position: relative;
    text-align: left;
    color: white;
  }
  
  /* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }

.bottom-left h1, h3 {
    margin-bottom: 45px;
    text-align: left;
  } 

/* NEWS SECTION */
main + section > section {
    width: 32%;
    float: left;
    margin-left: 10px;

}

.news {
    width: 100%;
}

.trump {
    margin-right: 10px;
}